/**
 *
 * @format
 */
/* WEB HEADER JAVASCRIPT TOGGLES */
.body-sticky {
	overflow: hidden !important;
}
.translateY-100 {
	transform: translateY(-100px) !important;
}

.translateY-45 {
	transform: translateY(-45px) !important;
}

.translateY-none {
	transform: none !important;
}
.header-original {
	top: 0;
	background: var(--color-primary);
	height: 60px;
	border: none;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

/* TEXTS & FONTS */
.text-decor-none {
	text-decoration: none !important;
	text-transform: none !important;
}
.fs-12 {
	font-size: 12px !important;
}
.fs-1 {
	font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
	font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {
	font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {
	font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {
	font-size: 1.25rem !important;
}

.fs-6 {
	font-size: 1rem !important;
}

.display-1 {
	font-size: calc(1.625rem + 4.5vw);
	font-weight: 800;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-1 {
		font-size: 5rem;
	}
}

.display-2 {
	font-size: calc(1.575rem + 3.9vw);
	font-weight: 800;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-2 {
		font-size: 4.5rem;
	}
}

.display-3 {
	font-size: calc(1.525rem + 3.3vw);
	font-weight: 800;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-3 {
		font-size: 4rem;
	}
}

.display-4 {
	font-size: calc(1.475rem + 2.7vw);
	font-weight: 800;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-4 {
		font-size: 3.5rem;
	}
}

.display-5 {
	font-size: calc(1.425rem + 2.1vw);
	font-weight: 800;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-5 {
		font-size: 3rem;
	}
}

.display-6 {
	font-size: calc(1.375rem + 1.5vw);
	font-weight: 800;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.display-6 {
		font-size: 2.5rem;
	}
}

/* CARD CSS */
.card {
	background-color: #fff;
	border-radius: 10px;
	border: none;
	position: relative;
	margin-bottom: 30px;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
}

.card.card-primary {
	border-top: 2px solid var(--color-primary);
}

/* SHADOWS */
.mild-shadow {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.paper-shadow {
	box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12) !important;
}

.little-shadow {
	box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.3) !important;
}
/* BORDER RADIUS */
.radius-50 {
	border-radius: 50% !important;
}
.radius-5 {
	border-radius: 5px !important;
}
@media screen and (min-width: 992px) {
	.scroll-design::-webkit-scrollbar {
		width: 3px;
		background: #eee;
	}

	.scroll-design::-webkit-scrollbar-thumb {
		background: rgba(134, 134, 134, 0.5);
		border-radius: 0px;
	}

	.scroll-design::-webkit-scrollbar-thumb:hover {
		background: rgb(0 0 0 / 30%);
	}

	.scroll-design::-webkit-scrollbar-track {
		background: #eee;
	}
}

/* COLORS */
.color-primary {
	color: var(--color-primary);
}
.bg-primary {
	background: var(--color-primary) !important;
}
/* BUTTONS */
.btn-animated {
	transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
	box-shadow: 0.9px 0.5px 1px rgba(0, 0, 0, 0.5);
	opacity: 1 !important;
}

.btn-animated:hover {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	animation: rotate 0.7s ease-in-out both;
}

.btn-site {
	background: var(--color-primary) !important;
}
/* SOCIAL ICONS */
.facebook {
	background: #426782;
}

.facebook:hover {
	background: #fff;
	color: #426782 !important;
}

.instagram {
	background: #e1306c;
}

.instagram:hover {
	background: #fff;
	color: #e1306c !important;
}

.youtube {
	background: #ff0000;
}

.youtube:hover {
	background: #fff;
	color: #ff0000 !important;
}

.telegram {
	background: #1da1f2;
}

.telegram:hover {
	background: #fff;
	color: #1da1f2 !important;
}

.whatsapp {
	background: #04cf26;
}

.whatsapp:hover {
	background: #fff;
	color: #04cf26 !important;
}

/* BOOTSTRAP ROWS AND COLS FLEXBOX */
.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
}

.col {
	flex: 1 0 0%;
}

.row-cols-auto > * {
	flex: 0 0 auto;
	width: auto;
}

.row-cols-1 > * {
	flex: 0 0 auto;
	width: 100%;
}

.row-cols-2 > * {
	flex: 0 0 auto;
	width: 50%;
}

.row-cols-3 > * {
	flex: 0 0 auto;
	width: 33.3333333333%;
}

.row-cols-4 > * {
	flex: 0 0 auto;
	width: 25%;
}

.row-cols-5 > * {
	flex: 0 0 auto;
	width: 20%;
}

.row-cols-6 > * {
	flex: 0 0 auto;
	width: 16.6666666667%;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
}

.col-1 {
	flex: 0 0 auto;
	width: 8.33333333%;
}

.col-2 {
	flex: 0 0 auto;
	width: 16.66666667%;
}

.col-3 {
	flex: 0 0 auto;
	width: 25%;
}

.col-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.col-5 {
	flex: 0 0 auto;
	width: 41.66666667%;
}

.col-6 {
	flex: 0 0 auto;
	width: 50%;
}

.col-7 {
	flex: 0 0 auto;
	width: 58.33333333%;
}

.col-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.col-9 {
	flex: 0 0 auto;
	width: 75%;
}

.col-10 {
	flex: 0 0 auto;
	width: 83.33333333%;
}

.col-11 {
	flex: 0 0 auto;
	width: 91.66666667%;
}

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}

@media (min-width: 576px) {
	.col-sm {
		flex: 1 0 0%;
	}

	.row-cols-sm-auto > * {
		flex: 0 0 auto;
		width: auto;
	}

	.row-cols-sm-1 > * {
		flex: 0 0 auto;
		width: 100%;
	}

	.row-cols-sm-2 > * {
		flex: 0 0 auto;
		width: 50%;
	}

	.row-cols-sm-3 > * {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}

	.row-cols-sm-4 > * {
		flex: 0 0 auto;
		width: 25%;
	}

	.row-cols-sm-5 > * {
		flex: 0 0 auto;
		width: 20%;
	}

	.row-cols-sm-6 > * {
		flex: 0 0 auto;
		width: 16.6666666667%;
	}

	.col-sm-auto {
		flex: 0 0 auto;
		width: auto;
	}

	.col-sm-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}

	.col-sm-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}

	.col-sm-3 {
		flex: 0 0 auto;
		width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-sm-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}

	.col-sm-6 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-sm-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-sm-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}

	.col-sm-9 {
		flex: 0 0 auto;
		width: 75%;
	}

	.col-sm-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}

	.col-sm-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}

	.col-sm-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md {
		flex: 1 0 0%;
	}

	.row-cols-md-auto > * {
		flex: 0 0 auto;
		width: auto;
	}

	.row-cols-md-1 > * {
		flex: 0 0 auto;
		width: 100%;
	}

	.row-cols-md-2 > * {
		flex: 0 0 auto;
		width: 50%;
	}

	.row-cols-md-3 > * {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}

	.row-cols-md-4 > * {
		flex: 0 0 auto;
		width: 25%;
	}

	.row-cols-md-5 > * {
		flex: 0 0 auto;
		width: 20%;
	}

	.row-cols-md-6 > * {
		flex: 0 0 auto;
		width: 16.6666666667%;
	}

	.col-md-auto {
		flex: 0 0 auto;
		width: auto;
	}

	.col-md-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}

	.col-md-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}

	.col-md-3 {
		flex: 0 0 auto;
		width: 25%;
	}

	.col-md-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-md-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}

	.col-md-6 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-md-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-md-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}

	.col-md-9 {
		flex: 0 0 auto;
		width: 75%;
	}

	.col-md-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}

	.col-md-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}

	.col-md-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.col-lg {
		flex: 1 0 0%;
	}

	.row-cols-lg-auto > * {
		flex: 0 0 auto;
		width: auto;
	}

	.row-cols-lg-1 > * {
		flex: 0 0 auto;
		width: 100%;
	}

	.row-cols-lg-2 > * {
		flex: 0 0 auto;
		width: 50%;
	}

	.row-cols-lg-3 > * {
		flex: 0 0 auto;
		width: 33.3333333333%;
	}

	.row-cols-lg-4 > * {
		flex: 0 0 auto;
		width: 25%;
	}

	.row-cols-lg-5 > * {
		flex: 0 0 auto;
		width: 20%;
	}

	.row-cols-lg-6 > * {
		flex: 0 0 auto;
		width: 16.6666666667%;
	}

	.col-lg-auto {
		flex: 0 0 auto;
		width: auto;
	}

	.col-lg-1 {
		flex: 0 0 auto;
		width: 8.33333333%;
	}

	.col-lg-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}

	.col-lg-3 {
		flex: 0 0 auto;
		width: 25%;
	}

	.col-lg-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-lg-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}

	.col-lg-6 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-lg-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-lg-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}

	.col-lg-9 {
		flex: 0 0 auto;
		width: 75%;
	}

	.col-lg-10 {
		flex: 0 0 auto;
		width: 83.33333333%;
	}

	.col-lg-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}

	.col-lg-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}
