
:root {
    --app-bg: #fff;
    --app-text-color: #0000005d;
    --color-primary: #006d34;
    --color-success: #50bd46; 
    --color-blue: #2f39a0;
    --color-white: #fff;
    --color-yellow: rgb(254 241 10);
    --color-info: #0495c7;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-user-select: rgba(0, 109, 52, 0.8);
    --border-color: #eee;
    --border-radius: 5px;
    --navbar-side-hover-bg: #006d341a;
    --navbar-side-hover-color: #000;
}